doctype html
html(ng-app="app")
    head
        title Hungry?
        link(href="css/lib/bootstrap.css", rel="stylesheet")
        link(href="css/main.css", rel="stylesheet")
    body(ng-controller="main as main")
        .container
            h1 Welcome to hungry!
            table.table.table-striped
                thead
                    tr
                        th id
                        th createdAt
                        th Connected
                tbody
                    tr(ng-repeat="user in main.users")
                        td {{user.id}}
                        td {{user.createdAt}}
                        td
                            div.success-circle(ng-if="user.connected")
                            div.fail-circle(ng-if="!user.connected")
        script(src="/socket.io/socket.io.js")
        script(src="js/lib/jquery.js")
        script(src="js/lib/bootstrap.js")
        script(src="js/lib/angular.js")
        script(src="js/main.js")